# Ignore virtual environment directories
venv/
.Venv/
ENV/
env/
ENV/
env.bak/
venv.bak/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
*.env

# Ignore IDE files (optional, based on your setup)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore OS files (optional, based on your OS)
.DS_Store
Thumbs.db
